{% extends "layout.html" %}

{% block title %}
    Pick A Movie
{% endblock %}

{% block main %}
    <div class="text">
        <h1>MOVIE RECOMMENDATION WEBSITE</h1>
        <a href="/questions" class="get_started_btn">Start Now</a>
    </div>
    <article class="info-container">
        <h1>Welcome to PICK A MOVIE - Your Ultimate Movie Guide!</h1>
        <br>
        <p>Looking for your next cinematic adventure? You're in the right place! Our mission is to help you discover the perfect movies tailored just for you. Whether you're into heartwarming dramas, action-packed thrillers, or side-splitting comedies, we've got something for everyone.</p>

        <br>
        
        <h1>Why Choose Us?</h1>
        <br>
        <p>Personalized Recommendations: Say goodbye to endless scrolling and let our advanced algorithms suggest movies based on your unique taste.</p>
        <br>
        <p>Diverse Selection: We curate a vast library of films spanning across genres, languages, and decades. From Hollywood blockbusters to hidden gems from around the world, we've got it all.</p>
        <br>
        <p>Stay Updated: Stay in the loop with the latest releases, upcoming films, and industry news.</p>
        <br>

        <h1>Start Exploring Now!</h1>
        <br>
        <p>Don't waste another moment searching aimlessly. Let's find your next movie obsession together. Join us and embark on a cinematic journey like never before.</p>
    </article>
{% endblock %}