{% extends "layout.html" %} {% block title %} Questions {% endblock %} {% block
main %}
<div class="container">
  <div id="question1" class="visible">
    <h2>How are you today?</h2>
    <div class="answer-choice-container">
      <div class="answer-choice-div">
        <input type="radio" id="happy" name="response1[]" value="happy" />
        <label for="happy">Happy</label>
      </div>
      <div class="answer-choice-div">
        <input type="radio" id="neutral" name="response1[]" value="neutral" />
        <label for="neutral">Neutral</label>
      </div>
      <div class="answer-choice-div">
        <input type="radio" id="sad" name="response1[]" value="sad" />
        <label for="sad">Sad</label>
      </div>
      <button onclick="submitAnswer(1)">Next</button>
    </div>
  </div>

  <div id="question2" class="hidden">
    <h2>Please choose any genre you're interested in.</h2>
    <h4 style="margin-bottom: 20px">Multiple answers are possible.</h4>
    <div class="genre-column">
      <div class="answer-choice-div">
        <input type="checkbox" id="action" name="response2[]" value="28" />
        <label for="action">Action</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="mystery" name="response2[]" value="9648" />
        <label for="mystery">Mystery</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="comedy" name="response2[]" value="35" />
        <label for="comedy">Comedy</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="documentary" name="response2[]" value="99" />
        <label for="documentary">Documentary</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="drama" name="response2[]" value="18" />
        <label for="drama">Drama</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="history" name="response2[]" value="36" />
        <label for="history">History</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="adventure" name="response2[]" value="12" />
        <label for="adventure">Adventure</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="animation" name="response2[]" value="16" />
        <label for="animation">Animation</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="thriller" name="response2[]" value="53" />
        <label for="thriller">Thriller</label>
      </div>
    </div>
    <div class="genre-column">
      <div class="answer-choice-div">
        <input type="checkbox" id="music" name="response2[]" value="10402" />
        <label for="music">Music</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="crime" name="response2[]" value="80" />
        <label for="crime">Crime</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="romance" name="response2[]" value="10749" />
        <label for="romance">Romance</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="sci-fi" name="response2[]" value="878" />
        <label for="sci-fi">Sci-fi</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="western" name="response2[]" value="37" />
        <label for="western">Western</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="fantasy" name="response2[]" value="14" />
        <label for="fantasy">Fantasy</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="war" name="response2[]" value="10752" />
        <label for="war">War</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="family" name="response2[]" value="10751" />
        <label for="family">Family</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="horror" name="response2[]" value="27" />
        <label for="horror">Horror</label>
      </div>
    </div>
    <button onclick="submitAnswer(2)" style="margin-top: calc(20px + 0.8em);">Next</button>
  </div>

  <div id="question3" class="hidden">
    <h2>How old would you like the movies to be?</h2>
    <div class="answer-choice-container">
      <div class="answer-choice-div">
        <input
          type="radio"
          id="doesnt-matter"
          name="response3[]"
          value="doesn't-matter"
        />
        <label for="doesnt-matter">Doesn't matter</label>
      </div>

      <div class="answer-choice-div">
        <input type="radio" id="3-years" name="response3[]" value="3" />
        <label for="3-years">Published in the last 3 years.</label>
      </div>

      <div class="answer-choice-div">
        <input type="radio" id="5-years" name="response3[]" value="5" />
        <label for="5-years">Published in the last 5 years.</label>
      </div>

      <div class="answer-choice-div">
        <input type="radio" id="10-years" name="response3[]" value="10" />
        <label for="10-years">Published in the last 10 years.</label>
      </div>

      <div class="answer-choice-div">
        <input type="radio" id="20-years" name="response3[]" value="20" />
        <label for="20-years">Published in the last 20 years.</label>
      </div>

      <button onclick="submitAnswer(3)">Next</button>
    </div>
  </div>

  <div id="question4" class="hidden">
    <h2>Please select all MPAA ratings that you're okay with.</h2>
    <h4>Multiple answers are possible.</h4>
    <div class="answer-choice-container">
      <div class="answer-choice-div">
        <input type="checkbox" id="g-rated" name="response4[]" value="G" />
        <label for="g-rated">G-Rated</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="pg-rated" name="response4[]" value="PG" />
        <label for="pg-rated">PG-Rated</label>
      </div>

      <div class="answer-choice-div">
        <input
          type="checkbox"
          id="pg-13-rated"
          name="response4[]"
          value="PG-13"
        />
        <label for="pg-13-rated">PG-13-Rated</label>
      </div>

      <div class="answer-choice-div">
        <input type="checkbox" id="r-rated" name="response4[]" value="R" />
        <label for="r-rated"
          >R-Rated</label
        >
      </div>

      <button onclick="submitAnswer(4)">Next</button>
    </div>
  </div>
</div>
{% endblock %}
